FILENAME="rpi-lagoa-bucci-jonas"

CA = "./certs/root-CA.crt"
CERT = "./certs/${FILENAME}.cert.pem"
PRIVATE = "./certs/${FILENAME}.private.key"

# AWS Broker
BROKER = "*.sa-east-1.amazonaws.com"
PORT = 443
TOPIC = "atividade-iot"
CLIENT_ID = 'henrique'